# Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc

#Intermediate documents:
*.dvi
*-converted-to.*

# Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

# Auxiliary and intermediate files from other packages:

# algorithms
*.alg
*.loa


# minted
_minted*
*.pyg

# todonotes
*.tdo

# WinEdt
*.bak
*.sav
